html {
  height: 100%;
  width: 100%;
}
/*racing font*/
.rf {
  font-family: 'Racing Sans One', sans-serif;
  
}
.nav-link:hover {
 color: #a6a6a6 !important; 
}

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  color: white;
  
  background: rgb(14,31,98);
  background: linear-gradient(90deg, rgba(14,31,98,1) 0%, rgba(14,31,98,1) 51%, rgba(73,110,254,1) 100%);
}
.navbar *, .navbar-brand, .navbar-brand:hover, .nav-link {
  color: white !important;
}



.start {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.acard {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgb(184, 184, 184);
  font-weight: 200;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
}
.acard * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.acard p, .acard li{
  font-size: 1rem;
}
.acard h1 {
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif

}
.acard ul {
  list-style-type: none;
}
.btn-primary{
  
  background-color: rgb(37, 65, 177) !important;
}


.acard.sim {
  overflow: auto;
}